*{
  margin: 0;
  padding: 0;
  border-sizing: border-box;

}
body {
  background-color: #000000;
  font-family: Helvetica;
  font-size: 20px;
  color: #fff;
  padding: 75px;
}
h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;

}
p {
  color: red;
}
.first {
  background-color: lightcoral;
}
#your-name {
  border: 5px solid red;
  padding: 5px;
  width: 400px;
  padding: 25px;
  margin-top: 25px;
}
#your-name h2 {
  color: olivedrab;
}
input, button {
  padding: 10px;
  font-size: 16px;
}
a {
  background-color: yellow;
}
img {
  width: 300px;

}

