body {
  background-color: #000000;
  font-family: Helvetica;
  font-size: 20px;
  color: #fff;
}
p {
  color: red;
}
.first {
  background-color: lightcoral;
}
#your-name {
  border: 5px solid red;
}
